
.share-button_share-button_Nxxf0 {
    font-size: 0.875rem;
}
.share-button_share-button_Nxxf0:not(.scratchtools-unlisted span) {
    padding: 0px 5px 0px 11px;
    margin-top: 0;
    border-radius: 0.25rem;
    min-width: 0px;
}
.share-button_share-button_Nxxf0 .button_content_3jdgj {
    background-image: url(upload.svg);
    display: inline-block;
    margin-top: -2px;
    margin-right: 0.4375rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 1.125rem;
    height: 1.125rem;
    vertical-align: middle;
    content: "";
}
.sa-unshare-button .button_content_3jdgj {
    background-image: url(unshare.svg);
}
.share-button_share-button_Nxxf0 .button_content_3jdgj span {
    display: none;
}
