/* settings, file, edit */
.menu-bar_collapsible-label_o2tym, .settings-menu_dropdown-label_3f68c {
    margin: 0 3px !important;
}
.menu-bar_collapsible-label_o2tym span, .settings-menu_dropdown-label_3f68c span {
    display: none;
}

/* remix button */
.menu-bar_remix-button_2LQQc .button_icon_77d8G {
    margin-right: 0.4375rem;
}
.menu-bar_remix-button_2LQQc span {
    display: none;
}
.menu-bar_remix-button_2LQQc  img {
    margin-right: 0 !important;
}

/* see inside button */
.community-button_community-button_2Lo_g img {
    margin-right: 0 !important;
}
.community-button_community-button_2Lo_g .button_content_3jdgj {
    display: none;
}

/* tab list */
.react-tabs_react-tabs__tab-list_17Wee li span {
    display: none;
}

/* turbo mode */
.turbo-mode_turbo-label_-1oMs {
    display: none;
}

/* turtorial */
.menu-bar_tutorials-label_2tFBo {
    display: none;
}

/* share button */
.share-button_share-button_Nxxf0 {
    font-size: 0.875rem;
}
.share-button_share-button_Nxxf0:not(.scratchtools-unlisted span) {
    padding: 0px 5px 0px 11px;
}
.share-button_share-button_Nxxf0 .button_content_3jdgj {
    background-image: url(icons/upload.svg);
    margin-top: -2px;
    margin-right: 0.4375rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 1.125rem;
    height: 1.125rem;
}
.sa-unshare-button .button_content_3jdgj {
    background-image: url(icons/unshare.svg);
}
.share-button_share-button_Nxxf0 .button_content_3jdgj span {
    display: none;
}
.scratchtools-unlisted span {
    background-image: url(icons/link.svg);
    font-size: 0px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% 50%;
    vertical-align: middle;
    width: 1.125rem;
}