:root {
  --motion-fill: #060f1c;
  --motion-stroke: #4c97ff;

  --looks-fill: #0f081d;
  --looks-stroke: #9966ff;

  --sound-fill: #170717;
  --sound-stroke: #cf63cf;

  --event-fill: #161100;
  --event-stroke: #ffbf00;

  --control-fill: #181001;
  --control-stroke: #ffab19;

  --sensing-fill: #051116;
  --sensing-stroke: #5cb1d6;

  --operators-fill: #040b04;
  --operators-stroke: #59c059;

  --data-fill: #211102;
  --data-stroke: #ff8c1a;
  --data-lists-fill: #1f0b01;
  --data-lists-stroke: #ff661a;

  --custom-fill: #1f0a0d;
  --custom-stroke: #ff6680;

  --other-fill: #01100c;
  --other-stroke: #0fbd8c;

  --text-light: #e5e5e5;
  --text-normal: rgba(255, 255, 255, 0.7);

  --arg-border: #4c4c4c;
}
