#topnav ul.account-nav .logged-in-user .dropdown-menu {
    background-color: #4d97ff;
}

#comments .more-replies .pulldown {
    color: #4d97ff;
}
.comments .grey {
    background-color: #4d97ff;
}
.banner-button span {
    color: white !important;
}
.os-chooser .button.active {
    background-color: #4d97ff;
}
.download .download-header {
    background-color: #4d97ff;
}
.steps > .step > .step-number-row .step-number {
    background-color: #4d97ff;
}
.step .step-number-row .step-number {
    background-color: #4d97ff;
}

.button {
    background-color: #4d97ff;
}
.action-button {
    background-color: #4d97ff;
}
.report-modal-header {
   background-color: #c54245;
}
.subactions .action-buttons .action-button {
    background-color: #4d97ff;
}
.preview .load-more-button {
    background-color: #4d97ff;
}
.compose-comment .compose-bottom-row .compose-post {
    background-color: #4d97ff;
}
.studio-grid-load-more .button {
    background: #4d97ff;
}
h3 span {
    color: #4d97ff;
}
.studio-member-tile .studio-member-name {
    color: #4d97ff;
}
.studio-project-tile .studio-project-title {
    color:#4e97fe
}
.studio-tab-nav .active > li {
    background-color: #4d97ff;
}
.studio-tab-nav li {
    background-color: #4d97ff;
}
.studio-info .studio-info-footer-report button {
    background-color: #4d97ff;
}
.studio-follow-button {
    background-color:#4e97fe
}

#comments .comment .info .name a {
   color:#4d97ff; 
}
.sub-nav span {
    color: white !important;
}
.information-page .title-banner.masthead {
        background-color: #4d97ff;;
}
.v-tabs li.first {
    display: none;
}
.sub-list a {
    background-color: #4d97ff;
    color: white !important;
}
.tabs-index a {
    background-color: #4d97ff;
    color: white !important;
}
.media-control-edit span {
    background-color: #4d97ff;
}
.media-control .dropdown-toggle {
    background-color: #4d97ff;
}
.tab-content > .button {
    background-color: #4d97ff;
}
#content > .cols > .col-12 > .box > .box-head {
    background-color: #4d97ff;
}
.small .text {
    color: #4d97ff;
}
.post-link span {
    color: #4d97ff;
}
.not-shared .grey span {
    background-color: #4d97ff;
}
.dropdown {
    background-color: #4d97ff;
}

.scratchtools-preview-button {
    background-color: #4e97fe !important;
}
.see-inside-button {
    background-color: #4d97ff;
}
.outer .categories li.active:hover {
    background-color: #348453;
}
.outer .categories li:hover {
    background-color: #348453;
    opacity: 1.4;
    color: lightgray;
}

.outer .title-banner.masthead {
    background-color: #febf01;
}

.categories li {
    color: #706c8a;
}
.sub-nav li {
    color: #706c8a;
}

.outer .categories li {
    color: #706c8a;
    border: 1px solid #6e6e6d;
    background-color: #d9d9d9;
}
.outer .categories li.active {
    background-color: #348453;
}
.thumbnail-title > a {
    color:  #4d97ff;
}
.lists a span {
    color: #4d97ff;
}
#footer .lists dd a {
    color: #4d97ff;
}
#donor-text a span {
    color: #4d97ff;
}
.outer #projectBox .button {
    background-color: #4e97fe
}

#navigation {
background-color: #4d97ff;
}
h {
color: #4d97ff;
}
a {
color: #4d97ff;
}
a:link, a:visited, a:active {
    text-decoration: none;
    color:#4d97ff;
}
html, body {
    background-color: #4d97ff;
}
.load-more-wh {
    background-color: #4d97ff;
}
.mod-love-project a {
    color: #4d97ff;
}
.mod-become-curator a {
    color: #4d97ff;
}
.mod-become-manager a {
    color: #4d97ff;
}
.mod-love-favorite a {
    color: #4d97ff;
}
.mod-remix-project a {
    color: #4d97ff;
}
.mod-follow-user a {
    color: #4d97ff;
}
.mod-follow-studio a {
    color: #4d97ff;
}
.news .box-header a {
    color: #4d97ff;
}
.project .thumbnail-title > a {
    color: #4d97ff;
}
.thumbnail-creator a {
    color: #4d97ff;
}
.gallery.slick-active .thumbnail-title a {
    color: #4d97ff;
}
.lists a span {
    color: #4d97ff;
}
#footer .lists dd a {
    color: #4d97ff;
}
#donor-text a span {
    color: #4d97ff;
} 
.news li h4 {
    color: #4d97ff;
    }
#navigation {
    background-color: #4d97ff;
}
.ideas-banner {
    background-color: #ff;bf00;
}
.banner-button span {
    color: gray;
}
.tips-getting-started .ideas-button {
    background-color: #4d97ff;
}
.ideas-button.wide-button {
    background-color: #4d97ff;
}
.ideas-all-cards .ideas-button {
    background-color: #4d97ff; 
}
.tips-left .tips-info-body .ideas-button {
    background-color: #4d97ff;
}
.mod-narrow a {
    color: #4d97ff;
}
.lists a span {
    color: #4d97ff;
}
#footer .lists dd a {
    color: #4d97ff;
}
#navigation {
    background-color: #4d97ff;
}
.masthead span span {
    color:  #4d97ff;

}
.masthead li span {
     color:  #4d97ff;
}
.body span a {
    color: #4d97ff;
}
.list span {
     color:  #4d97ff;
}
button {
     background-color:  #4d97ff;
}
.about-button {
     background-color:  #4d97ff;
}
#navigation {
    background-color: #4d97ff;
}
.lists a span {
    color: #4d97ff;
}
#footer .lists dd a {
    color: #4d97ff;
}
a.social-messages-profile-link {
    color: #66687f !important;
}
.mod-studio-activity a {
    color: #4d97ff;
}
.title-banner.mod-messages {
    background-color: #4d97ff;
}
.mod-forum-activity a {
    color: #4d97ff;
}
.comment-message-info a {
    color: #4d97ff;
}
.comment-text a {
    color: #4d97ff;
}
.mod-love-favorite a {
    color: #4d97ff;
}
.mod-love-project a {
    color: #4d97ff;
}
.mod-curator-invite a {
    color: #4d97ff;
}
.messages-social-loadmore {
    background-color: #4d97ff;
}
.lists a span {
    color: #4d97ff;
}
#footer .lists dd a {
    color: #4d97ff;
}
#navigation {
    background-color: #4d97ff;
}
#topnav .innerwrap {
    background-color: #4d97ff;
}
a {
    color: #4d97ff;
}
a:link, a:visited, a:active {
    color: #4d97ff;
}
.studio-tab-nav .active>li {
    background-color: #4d97ff;
}
