.gui_tab_27Unf > span {
	display:none !important;
}

.gui_tab_27Unf > img {
	width: 25px !important;
	height: 25px !important;
	bottom: .5px !important;
	margin-right: 0 !important;
	position: relative !important;
}

.gui_tab_27Unf {
	width: 35px !important;
	height: 35px !important;
	min-height: 35px !important;
	min-width: 35px !important;
	padding: 0 !important;
	flex-grow: 0 !important;
	margin: 0px 0px 5.25px 10px !important;
	border-radius: 100% !important;
}
