.STE-ReactModalPortal .STE-recorded-video {
  width: 100%;
  height: 100%;
  border: 10px solid #ccc;
  border-radius: 10px;
}

.STE-ReactModalPortal .STE-hide-button {
  display: none;
}

.STE-ReactModalPortal .STE-left-text {
  text-align: left;
}

.STE-ReactModalPortal .stopButton,
.STE-ReactModalPortal .startButton,
.STE-ReactModalPortal .downloadButton,
.STE-ReactModalPortal .video-format-select {
  width: 100%;
}

