.ste-tps-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 8px;
  height: 99.5px;
}

.ste-tps-stat {
  text-align: center;
  display: flex;
}

.ste-tps-stat img {
  display: block;
}

.ste-tps-value {
  font-size: 21px;
  font-weight: 600;
  margin-top: 5px;
  margin-left: 10px;
}
