:root {
  --theme: #FFB02D;
  --background: white;
  --primary-color: black;
  --secondary-color: #00000077;
  --searchbar-bg: #eeeeee;
  --searchbar-gears: url("/extras/icons/settings.svg");
  --searchbar-search: url("/extras/icons/search.svg");
  --mini-logo: url("/extras/icons/mini-logo.svg");
  --box: #eeeeee;
  --feature-bg: #eeeeee75;
  --feature-input-bg: #e4e4e4;
  --feature-slider-bg: #cccccc;
  --scrollbar-handle: #c2bfbf;
  --scrollbar-handle-active: #b2afaf;
  --theme-icon: url("/extras/icons/dark.svg");
  --navbar-gradient: linear-gradient(0.25turn, #ff9f00, #ffb740);
  --campsite: url("/extras/icons/campsitelight.svg");
}

.feedback-btn img {
  height: 1rem;
  position: relative;
  top: 0.2rem;
  filter: invert(1);
}
