@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

.center-perfectly {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: calc(100% - 4rem);
}

body {
  color: white;
  text-align: center;
  background-image: url(./background.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  font-family: "Space Grotesk", sans-serif;
}

.big {
    font-size: 3rem;
}

button {
    background-color: white;
    color: #3FA9F5;
    min-width: 10rem;
    font-family: "Space Grotesk", sans-serif;
    padding: .5rem;
    outline: none;
    border: 0px;
    border-radius: .25rem;
    cursor: pointer;
    position: relative;
    top: 0px;
    transition: top .3s;
    font-weight: bold;
}

button:hover {
    top: .5rem;
}

.feature {
    width: 20rem;
    max-width: 20%;
    display: inline-block;
    background-color: white;
    padding: 2rem;
    margin: 1rem;
    border-radius: .5rem;
    opacity: .6;
    border: 3px solid #3FA9F500;
    position: relative;
    top: 0px;
    transition: opacity .3s, border .3s, top .3s;
    color: black;
}

.feature:hover {
    top: -.5rem;
}

.features {
    text-align: center;
}

.feature span {
    opacity: .5;
}

.feature div {
    width: 100%;
    height: 10rem;
    background-position: center center;
    background-size: cover;
}

.feature.enabled {
    opacity: 1;
    border: 3px solid #3FA9F5;
}

.center-perfectly {
    padding-left: 2rem;
    padding-right: 2rem;
}

.feature p {
    height: 5rem;
    overflow-y: hidden;
}

.theme-select{
    border:3px solid #456EFF;
  }
  .theme-noselect{
    border:3px solid #3FA9F5;
  }
  .theme-circle{
    height:50px; 
    width:50px; 
    border-radius:100%; 
    cursor:pointer; 
    margin-top:2.48px; 
    margin-left:2.48px;
  }
  .theme-dark{
      background:#3F3F3F; 
  }
  .theme-light{
    background: white;
  }
  .theme-preview{
    position:absolute;
  
  }
  .themes{
    display: flex;
    margin-top:370px
  }
  .theme-selection{
    height:450px;
    display: flex;
    justify-content: center;
  }
