@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

html {
  --radius: 0.5rem;
  width: 400px;
  font-family: "Inter", sans-serif;
  height: 500px;
}
body {
  padding-bottom: 2rem;
  height: 500px;
  width: 400px;
  margin: none;
  background: var(--background);
}
.settings {
  padding-bottom: 1rem;
  margin-left: -0.5rem;
}
a:hover {
  text-decoration: none;
  color: var(--theme);
}

/* Welcome */
.welcome {
  background-color: var(--feature-bg);
  border-radius: var(--radius);
  width: 80vw;
  padding: 1rem;
  position: relative;
  left: 10vw;
  margin-left: -1.5rem;
  text-align: center;
  color: var(--primary-color);
  border-bottom: 3px solid var(--feature-input-bg);
}
.welcome img,
.welcome h3 {
  display: block;
}
.minilogo {
  width: 2rem;
  height: 2rem;
}

a {
  color: var(--theme);
}

/* FEATURE */

.feature {
  width: 80vw;
  margin: 2em;
  margin-bottom: 1rem;
  background: var(--feature-bg);
  border-radius: 0.5rem;
  padding: 17px;
  padding-top: 5px;
  position: relative;
  border-bottom: 3px solid var(--feature-input-bg);
}
.feature a {
  cursor: pointer;
  color: var(--theme) !important;
}

.feature label {
  color: var(--primary-color);
}

.feature > span {
  display: block;
}

.feature .switch {
  float: right;
  margin-top: -3em;
  margin-right: 0.2em;
  position: absolute;
  top: 3.5rem;
  right: 0.75rem;
  transform: scale(90%);
}
.feature h3 {
  color: var(--primary-color);
  margin-left: 0em;
}
.feature span {
  color: var(--secondary-color);
}

.feature .featureTitle {
  color: var(--primary-color);
  max-width: calc(90% - 5rem);
  font-weight: bold;
  font-size: 1.2rem !important;
  margin-bottom: 0rem;
}
.feature p {
  margin: 5px 0;
  opacity: 0.5;
  padding-right: 4rem;
  color: var(--secondary-color);
}

.feature > input {
  display: block;
}

.feature button,
.feature input {
  padding: 0.1vw;
  height: 2rem;
  margin-left: auto;
  border-radius: 1rem;
  outline: none;
  border: 0px;
  background-color: var(--theme);
  color: white;
}

.feature input {
  color: var(--primary-color);
  background-color: var(--feature-input-bg);
  padding-left: 1rem !important;
}
.feature button {
  cursor: pointer;
}

.stuff {
  margin-left: 80px;
  margin-right: 80px;
  color: orange;
}
/*Navbar*/

.bar {
  border: none;
  height: 70px;
}
.navbar {
  height: 45px;
  position: fixed;
  background: var(--background);
  top: 0;
  margin-top: 1em;
  z-index: 2;
}
.logo {
  width: 80px;
}
.navwrap {
  width: 100%;
  background: var(--background);
  height: 70px;
  top: 0;
  position: fixed;
  z-index: 2;
}

.wrap {
  position: relative;
  height: 45px;
  top: 15px;
}

.searchbar {
  border-radius: 0px 0px 0px 0px;
  padding: 12px;
  padding-left: 10px;
  height: 21px;
  width: calc(50% + 0.8rem);
  border: none;
  background: var(--searchbar-bg);
  outline: none;
  position: initial;
  margin-bottom: 2.9em;
  color: var(--primary-color);
}
.searchbarbutton {
  border-radius: 0px var(--radius) var(--radius) 0px;
  padding: 12px;
  width: 45px;
  height: 45px;
  border: none;
  background: var(--searchbar-bg);
  outline: none;
  background-image: var(--searchbar-search);
  background-position: 47% 46%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
.searchbaricon {
  border-radius: var(--radius) 0px 0px var(--radius);
  padding: 12px;
  margin-left: 1em;
  width: 45px;
  height: 45px;
  border: none;
  background: var(--searchbar-bg);
  outline: none;
  background-image: var(--mini-logo);
  background-position: 80% 50%;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
.settingsButton {
  padding: 12px;
  width: 60px;
  height: 50px;
  border: none;
  background: none;
  outline: none;
  background-image: var(--searchbar-gears);
  background-position: 50% 50%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  cursor: pointer;
  float: right;
  margin-left: 2.3em;
  position: relative;
  right: -1rem;
  margin-top: -6.5em;
}

.feature input {
  padding: 0.1vw;
  height: 2rem;
  margin-left: auto;
  border-radius: 1rem;
  outline: none;
  border: 0px;
  color: var(--primary-color);
  background-color: var(--feature-input-bg);
}

.feature input[type="checkbox"] {
  display: inline-block;
  width: 1.25rem;
  min-width: 55px;
  cursor: pointer;
}
.feature input[type="color"] {
  padding: 0.1vw !important;
  border-radius: 0.4rem;
}

/*Switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
  margin-bottom: 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--feature-slider-bg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: var(--theme);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*scroll bar*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-handle);
}

::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-handle-active);
}

.end {
  width: 80vw;
  margin: 1.3em;
  margin-bottom: 1rem;
  background: var(--feature-bg);
  border-radius: 10px;
  padding: 17px;
  margin-top: -1em;
  color: white;
  text-align: center;
}

.campsite {
  width: 100%;
  height: 90px;
  background: var(--campsite);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.end span {
  color: var(--primary-color);
  opacity: 0.5;
  text-align: center;
}

.feature span.new-feature-tag {
  background-color: var(--theme);
  color: white;
  padding: 0.25rem;
  text-transform: uppercase;
  display: inline;
  font-size: .7rem;
  border-radius: .4rem;
  position: relative;
  top: -.15rem;
  margin-left: .35rem;
  user-select: none;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 1;
  transform: none;
}

.feature span.new-feature-tag.updated {
  filter: brightness(2.5);
  color: black;
}

.feature span.new-feature-tag:hover {
  opacity: 0.75;
  transform: scale(105%);
}

.feature > h3 {
  display: inline-block;
}

.ste-easter-egg {
  display: none !important;
}

span.new-feature-tag.beta {
  background-color: #fc8c4f;
  cursor: pointer !important;
}

.warning-component {
  background-color: #fc8c4f20;
  border: 1.5px solid #fc8c4f;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  border-bottom-width: 3px;
  line-height: 1.2rem;
  color: var(--primary-color);
}

.warning-component img {
  height: 1rem;
  margin-right: 0.5rem;
  margin-inline-end: 10px;
  transform: scale(1.15);
}

.info-component {
  background-color: #fcd44f20;
  border: 1.5px solid #fcd44f;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  border-bottom-width: 3px;
  line-height: 1.2rem;
  color: var(--primary-color);
}

.info-component img {
  height: 1rem;
  margin-right: 0.5rem;
  margin-inline-end: 10px;
  transform: scale(1.15);
}

.feature h3 .icon svg {
  height: 1rem;
  width: 1rem;
  margin-right: 1.5rem;
  position: relative;
  left: 0.6rem;
  transform: scale(1.5);
  top: 0.1rem;
}

.special-switch {
  width: 55px;
  height: 28px;
  margin-left: auto;
  transform: scale(80%);
  position: relative;
}

.feature .option {
  display: flex;
  margin: 5px 0;
  align-items: center;
}

.feature table,
.feature table tr {
  width: 100%;
}

.feature table {
  margin-top: .5rem;
}

.special-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.welcome p {
  font-size: .85rem;
}
.welcome {
  background-color: #fc8c4f20;
  border-bottom-color: #fc8c4f;
}

.option-selection {
  text-align: right;
  width: calc(100% - 1rem);
  display: flex;
  overflow-wrap: break-word;
  flex-wrap: wrap;
  border: 1.5px solid var(--feature-input-bg);
  border-radius: .25rem;
  overflow: hidden;
}

.option-selection span {
  padding: .25rem;
  padding-left: .5rem;
  padding-right: .5rem;
  user-select: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--secondary-color);
  transition: background-color .3s, border .3s, color .3s;
  display: inline-block;
    word-break: break-word;
    white-space: nowrap;
    flex: 1 0 auto;
    text-align: center;
    border-inline-end: 1.5px solid var(--feature-input-bg);
}

.option label:not(.special-switch) {
  margin-right: 1rem;
}

.option-selection span.option-selected {
  background-color: var(--theme);
  color: white;
  border-inline-end: 1.5px solid transparent;
}

.option-selection span:last-child {
  border-inline-end: none;
}

/* Support */

.support-vid {
  color: #ff9f00 !important;
  opacity: .5;
  cursor: pointer;
  position: relative;
    top: -.25rem;
    margin-bottom: .25rem;
    display: block;
}

.support-vid:hover {
  opacity: 1;
}

.support-vid img {
  height: 1rem;
  margin-left: .25rem;
  position: relative;
  top: .3rem;
}