@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  padding: 3rem;
  padding-top: 20rem;
  font-family: "Inter", sans-serif;
}

.banner {
  background-image: url(./banner.svg);
  background-size: cover;
  background-position: center center;
  height: 20rem;
  width: 100vw;
  position: absolute;
  left: 0px;
  top: 0px;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

button {
  background-color: #FFB02D;
  color: white;
  min-width: 10rem;
  font-family: "Inter", sans-serif;
  padding: 0.5rem;
  outline: none;
  border: 0px;
  border-radius: 0.25rem;
  cursor: pointer;
  position: relative;
  top: 0px;
  transition: top 0.3s;
}

button:hover {
  top: 0.5rem;
}

.credits {
  margin-bottom: 1rem;
  display: block;
  opacity: 0.6;
  font-size: 0.9rem;
}

.credits a {
  text-decoration: none;
  color: #FFB02D;
}

input {
  height: 2rem;
  margin-left: 0.5vw;
  border-radius: 1rem;
  outline: none;
  border: 0px;
  display: block;
  margin-left: 0px !important;
  color: black;
  background-color: rgb(228, 228, 228);
  padding-left: 1rem !important;
  padding: 0.1vw;
  font-family: "Inter", sans-serif;
}
