body {
    font-family: "Inter", sans-serif;
}

.theme div {
    padding: 1rem;
    width: 100%;
    position: relative;
    left: -1rem;
    top: -1rem;
    border-top-left-radius: .35rem;
    border-top-right-radius: .35rem;
    margin-bottom: -1rem;
    text-align: center;
}

.themes-box {
    width: fit-content;
}

.theme svg {
    height: 8rem;
}

.theme p {
    opacity: .5;
    margin-top: -.5rem;
    margin-bottom: 0rem;
}

.theme {
    background-color: #eeeeee75;
    padding: 1rem;
    display: inline-block;
    border-radius: .35rem;
    width: 20rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.theme button {
    padding: .5rem;
    width: 5rem;
    float: right;
    color: white;
    outline: 0px;
    border-radius: .35rem;
    border: 0px;
    font-family: "Inter", sans-serif;
    margin-bottom: -4rem;
    position: relative;
    top: -2.35rem;
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s;
}

.theme button:hover {
    opacity: .5;
}

.section {
    padding: 1rem;
    width: fit-content;
}

.section > p {
    font-size: 1rem;
    opacity: .75;
    position: relative;
    top: -.5rem;
}

.section > button {
    padding: 1rem;
    width: 100%;
    color: white;
    background-color: #ff9f00;
    outline: 0px;
    border-radius: .35rem;
    border: 0px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s, color .2s, background-color .2s;
    display: inline-block;
}

button.uninstall {
    background-color: #00000077 !important;
}