.scratchCategoryItemBubble {
  border-radius: 0.2rem !important;
  width: 2rem !important;
}

.st-category-circle .scratchCategoryItemBubble {
  height: 1.5rem !important;
  width: 1.5rem !important;
  border-radius: 0.75rem !important;
}

.scratchCategoryMenuItemLabel {
  display: none !important;
}
