body.colorComment .scratchtoolsAd .comment-bubble, .scratchtoolsAd .comment-bubble::before {
    background-color: #ffd0d0 !important;
    border: 1px solid #ff6680;
}

body.hideComment .scratchtoolsAd {
    display: none;
}
