.filter_filter-icon_3Pfaw {
    filter: sepia(300%) hue-rotate(185deg) saturate(450%); 
}
.sound-editor_row_3iFzH > .sound-editor_tool-button_2iNn9 img {
    filter: sepia(300%) hue-rotate(185deg) saturate(450%); 
}
.sound-editor_redo-icon_XGcr5 {
    filter: sepia(300%) hue-rotate(185deg) saturate(450%); 
}
.sound-editor_undo-icon_So0sO {
    filter: sepia(300%) hue-rotate(185deg) saturate(450%); 
}
.library_filter-bar_1W0DW {
   background-color: #B6D8FD
}
.tag-button_tag-button_nBLRM {
    background-color: #4d97ff;
}
.tag-button_active_2stEz {
    background-color: #f7a028;
}
.sound-editor_input-group_2hWiH .sound-editor_tool-button_2iNn9 img {
    filter: sepia(300%) hue-rotate(185deg) saturate(450%); 
}
.toggle-buttons_row_2j-Rm {
   filter: sepia(300%) hue-rotate(185deg) saturate(450%); 
}
input {
    outline-color: #4d97ff !important;
}
.tool-select-base_mod-tool-select_1iD-h.tool-select-base_is-selected_3x4kL {
    background-color: #4d97ff;
}
.sound-editor_round-button_3NLcW {
    background-color: #4d97ff;
}
.gui_tab_27Unf.gui_is-selected_sHAiu img {
    filter: sepia(300%) hue-rotate(185deg) saturate(450%);
}
.mode-tools_mod-dashed-border_T8CR_ .labeled-icon-button_edit-field-icon_3j-Pf {
     filter: sepia(300%) hue-rotate(185deg) saturate(450%);
}
.labeled-icon-button_edit-field-icon_3j-Pf {
     filter: sepia(300%) hue-rotate(185deg) saturate(450%);
}
.fixed-tools_button-group-button-icon_1cr4a {
     filter: sepia(300%) hue-rotate(185deg) saturate(450%);
}
.react-tabs_react-tabs__tab--selected_EW0CL span {
    color: #4d97ff;
}
.paint-editor_bitmap-button_keW7B {
    background-color: #4d97ff !important;
}
.sprite-selector-item_sprite-selector-item_kQm-i:hover {
    border: 2px solid #4d97ff;
}
.stage-selector_stage-selector_3oWOr.stage-selector_is-selected_2x2r_ {
    border-color: #4d97ff;
}
.stage-selector_stage-selector_3oWOr.stage-selector_is-selected_2x2r_ {
    box-shadow: 0 0 0 4px hsla(210, 100%, 80%, 1);
}
.action-menu_more-button_1fMGZ {
    background-color: #4d97ff;
}
.sprite-selector_add-button_1XCwG .action-menu_main-icon_1ktMc {
    background-color:  #4d97ff;
}
.sprite-selector_add-button_1XCwG .action-menu_main-button_3ccfy {
    background-color:  #4d97ff;
    box-shadow: 0 0 0 4px hsla(210, 100%, 80%, 1);
}
.gui_extension-button_2T7PA {
    background-color: #4d97ff;
}
.menu-bar_menu-bar_JcuHF {
    background-color: #4d97ff;
}
.sprite-selector-item_is-selected_24tQj .sprite-selector-item_sprite-info_-I0i_ {
    background-color: #4d97ff;
}
.delete-button_delete-button-visible_kym6v {
    background-color: #4d97ff;
}

.sprite-info_group_14-B_ .toggle-buttons_button_1ZBU8 img {
    filter: sepia(300%) hue-rotate(185deg) saturate(450%);
}
.toggle-buttons_button_1ZBU8:first-child, [dir="rtl"] .toggle-buttons_button_1ZBU8:last-child, .toggle-buttons_button_1ZBU8:first-child:focus::before, [dir="rtl"] .toggle-buttons_button_1ZBU8:last-child:focus::before {
    background-color: hsla(219, 100%, 86.11%, 0.5);
    border: 0.5px solid #4d97ff;
}
.toggle-buttons_button_1ZBU8:last-child, [dir="rtl"] .toggle-buttons_button_1ZBU8:first-child, .toggle-buttons_button_1ZBU8:last-child:focus::before, [dir="rtl"] .toggle-buttons_button_1ZBU8:first-child:focus::before {
    background-color: hsla(219, 100%, 86.11%, 0.5);
    border: 0.5px solid #4d97ff;
}
.stage-selector_stage-selector_3oWOr.stage-selector_is-selected_2x2r_ .stage-selector_header_2GVr1 {
   background-color: #4d97ff;
}
.toggle-buttons_button_1ZBU8 {
    border: 0.5px solid #4d97ff;
}
.sprite-info_group_14-B_ .toggle-buttons_button_1ZBU8 {
    border: 0.5px solid #4d97ff;
}
html, body {
    background-color: #4d97ff;
}
.gui_extension-button-container_b4rCs {
    background-color: #4d97ff;
    border: 1px solid #4d97ff;
}
.modal_header-item-title_tLOU5 {
    background-color: #4d97ff;
}
.custom-procedures_button-row_2jBu3 button.custom-procedures_ok-button_2X0Vj {
    background-color: #4d97ff;
}
.sprite-selector-item_sprite-selector-item_kQm-i.sprite-selector-item_is-selected_24tQj {
    border: 2px solid #4d97ff;
    box-shadow: 0px 0px 0px 4px hsla(210, 100%, 80%, 1);
}
.delete-button_delete-button-visible_kym6v {
    box-shadow: 0px 0px 0px 2px hsla(210, 100%, 80%, 1);
}
.action-menu_more-buttons-outer_3J9yZ {
    background: #4d97ff
}
.action-menu_main-icon_1ktMc {
    background-color: #4d97ff;
}
.action-menu_button_1qbot {
    background-color: #4d97ff !important;
}
.action-menu_main-button_3ccfy {
    box-shadow: 0 0 0 4px hsla(210, 100%, 80%, 1);
}
.action-menu_expanded_JcMKp .action-menu_main-button_3ccfy {
    box-shadow: 0px 0px 0px 2px hsla(210, 100%, 80%, 1);
}