:root {
  --navbar-gradient: linear-gradient(45deg, #ff9f00, #ffad42);
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  padding: 1rem;
  padding-bottom: 2rem;
  height: 500px;
  margin: none;
  background: var(--background);
  color: var(--primary-color);
  padding-top: 3.5rem;
  overflow-y: hidden;
}

.navbar {
  display: block;
  position: fixed;
  background: var(--navbar-gradient);
  top: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 0.5em;
  z-index: 2;
  border: 0px solid black;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  margin: 0px;
  padding-left: 2rem;
}

.sticon {
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("/extras/icons/icontrans128.png");
  background-position: 50% 50%;
  background-size: 2.5rem 2.5rem;
  background-repeat: no-repeat;
  display: inline-block;
}

.split {
  width: calc(50% - 2rem);
  padding: 1rem;
  display: inline-block;
  height: calc(100% - 5rem);
  overflow-y: scroll;
}

.split-left {
  position: absolute;
  top: 3rem;
  left: 0px;
}

.split-right {
  position: absolute;
  top: 3rem;
  right: 0px;
  border-left: 2px solid var(--feature-input-bg);
}

p {
  font-size: 1rem;
}

.messages {
  border-top: 2px solid var(--theme);
}

.msg {
  border-bottom: 2px solid var(--theme);
  padding: .5rem;
}

.msg h3 {
  font-size: 1.2rem;
  margin-top: .75rem;
}

.msg.unread h3 {
  color: var(--theme);
}

textarea.feedback {
  background-color: var(--searchbar-bg);
  width: calc(100% - 2rem);
  padding: 1rem;
  resize: vertical;
  max-height: calc(100% - 25rem);
  border-radius: .5rem;
  border: 0px;
  color: var(--primary-color);
  font-family: "Inter", sans-serif;
  min-height: 7.5rem;
}

button.submit {
  background-color: var(--theme);
  width: 100%;;
  display: block;
  margin-top: 1rem;
  padding: .75rem;
  border-radius: .5rem;
  border: 0px;
  outline: none;
  color: white;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  transition: top .2s;
  position: relative;
  top: 0px;
}

button.submit:hover {
  top: .25rem;
}

.submission-successful {
  background-color: var(--theme);
  color: white;
  font-size: 1rem;
  margin-top: 1rem;
  padding: .75rem;
  border-radius: .5rem;
}