#themeeditor {
  color-scheme: dark;
  font-family: tomo, monospace;
  position: absolute;
  z-index: 100;
  font-size: 9px;
  color: white;
  background-color: black;
  border: 1px solid black;
  min-height: 220px;
  min-width: 300px;
  resize: both;
  overflow:hidden
}
#themeeditorheader {
  z-index: 1;
  padding: 0.7em;
  height: 30px;
  box-sizing: border-box;
  cursor: move;
  z-index: 10;
  background-color: #131313;
  color: #fff;

}
#themeeditorheader button {
  height: 29px;
  width: 29px;
  padding: 0em;
  color: white;
  background: #131313;
  border: 0px;
  cursor: pointer;
  margin-top: -0.4em;
  float: right;
  margin-right: -0.5em;
}
#themeeditorheader button:hover {
  background: #1c1c1c;
}
#editor {
  top: 30px;
  left: 0;
  position: absolute;
  z-index: 10;
  height: calc(100% - 32px);
  width: 100%;
  
}
