@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #1b2126;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: right;
  right: 4%;
  }

  div {
    position: relative;
  }

h3 {
  margin-top: 10px;
  padding: 3px;
}
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    float: right;
  }

  .switch {
    float: right;
    /* margin-top: -50px; */
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #262e3b;
    -webkit-transition: .4s;
    transition: .4s;
    float: right;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    float: right;
  }
  
  input:checked + .slider {
    background-color: #FF9F00;
    float: right;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #FF9F00;
    float: right;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    float: right;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    float: right;
  }
  
  .slider.round:before {
    border-radius: 50%;
    float: right;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
  }
