@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #1b2126;
    color: white;
}

.beta {
  background-color: #f2420c;
  border-radius: 0.4rem;
  display: inline-block;
  padding: 0.35rem;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 0.8rem;
}

.betatab {
  color: #f2420c;
}

.recommended {
  background-color: #f2ad0c;
  border-radius: 0.4rem;
  display: inline-block;
  padding: 0.35rem;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 0.8rem;
}

.recommendedtab {
  color: #f2ad0c;
}

.tabtype {
  display: block;
  background-color: #1b2126;
  outline: none;
  border: 0px;
  font-size: 200%;
  font-family: 'Space Grotesk', sans-serif;
  float: left;
}

.settingstab {
  background-color: #f20c9e;
  cursor: pointer;
  border-radius: 0.4rem;
  display: inline-block;
  padding: 0.35rem;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 0.8rem;
}

.new {
  background-color: #0c5df2;
  border-radius: 0.4rem;
  display: inline-block;
  padding: 0.35rem;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 0.8rem;
}

.newtab {
  color: #0c5df2;
}

.featured {
  background-color: #700cf2;
  border-radius: 0.4rem;
  display: inline-block;
  padding: 0.35rem;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 0.8rem;
}

.featuredtab {
  color: #700cf2;
}

.tag {
  margin-left: 0.4rem;
}

.tags {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: right;
  right: 4%;
  }

  div {
    position: relative;
  }

h3 {
  margin-top: 10px;
  padding: 3px;
}
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    float: right;
  }

  .switch {
    float: right;
    /* margin-top: -50px; */
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #262e3b;
    -webkit-transition: .4s;
    transition: .4s;
    float: right;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    float: right;
  }
  
  input:checked + .slider {
    background-color: #FF9F00;
    float: right;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #FF9F00;
    float: right;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    float: right;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    float: right;
  }
  
  .slider.round:before {
    border-radius: 50%;
    float: right;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
  }

  input {
    background-color: #262e3b;
    width: 90vw;
    height: 10vw;
    font-family: 'Space Grotesk', sans-serif;
    outline: none;
    border: 0px;
    color: white;
    padding: 0.5vw;
    text-align: center;
    border-radius: 5vw;
  }

  i {
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }

  h3 {
    width: 10rem;
  }

  .navbar {
    position: fixed;
    width: 100vw;
    left: 0px;
    top: 0px;
    float: right;
    background-color: #262e3b;
  }

  .settings2 {
    width: 70vw;
    position: absolute;
    right: 0px;
    column-count: 2;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 0.5rem;
    -moz-column-gap: 0.5rem;
    column-gap: 0.5rem;
    margin-top: -5rem;
    text-align: -webkit-center;
  }
