@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html {
  height: 100%;
  --radius: .35rem;
}

body {
  margin: 0em;
  font-family: "Inter", sans-serif;
  background-color: var(--background);
}

a {
  color: white;
  text-decoration: none;
}

.more-settings-btn {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  color: var(--primary-color);
  opacity: 0.75;
  cursor: pointer;
}

.more-settings-btn svg {
  height: 1rem;
  position: relative;
  top: 0.2rem;
}

.more-settings-btn path {
  fill: var(--primary-color) !important;
}

.feedback-btn {
  position: fixed;
  left: 1rem;
  bottom: 3rem;
  color: var(--primary-color);
  opacity: 0.75;
  cursor: pointer;
}

.feedback-btn img {
  height: 1rem;
  position: relative;
  top: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.1rem;
}

.feature {
  border: 0px solid black;
  line-height: 25px;
  display: inline-block;
  width: 24rem;
  max-width: 100%;
  margin: 1rem;
  background-color: var(--feature-bg);
  margin-left: 0px !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  color: var(--primary-color);
  border-radius: 10px;
  padding: 17px;
  padding-top: 5px;
  margin-bottom: 0px;
  outline: 2px solid #FFB02D00;
  transition: outline 0.2s;
  flex-shrink: 0;
  flex-grow: 0;
}

.settings {
  display: flex;
  flex-wrap: wrap;
}

.feature.scrolled {
  outline: 2px solid var(--theme);
}

.feature button {
  padding: 0.1vw;
  height: 2rem;
  margin-left: 0.5vw;
  background-color: var(--theme);
  border-radius: 1rem;
  outline: none;
  border: 0px;
  color: white;
  cursor: pointer;
}

.feature p {
  opacity: 0.5;
  font-size: 0.8rem;
}

.feature input {
  padding: 0.1vw;
  height: 2rem;
  margin-left: 0.5vw;
  border-radius: 1rem;
  outline: none;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  border: 0px;
  color: var(--primary-color);
  background-color: var(--feature-input-bg);
}

.feature input[type="checkbox"] {
  display: inline-block;
  width: 1.25rem;
  cursor: pointer;
}

.feature > input {
  display: block;
  margin-left: 0px !important;
}

.feature h3 {
  font-size: 1.25rem !important;
  margin-bottom: -0.5rem;
  width: 80%;
}

.feature h3[style="font-size: 1.5em;"] {
  font-weight: bold;
}
.feature h3[style="margin-top: -20px; width: 250px;"] {
  width: calc(95% - 55px) !important;
}
.feature h3[style="margin-top: -20px; width: 250px;"] {
  margin-left: 0em;
  color: var(--primary-color);
}
.feature span {
  color: var(--primary-color);
}
.feature .switch {
  float: right;
  margin-top: -1.8em;
  margin-right: 1em;
}

.feature a {
  cursor: pointer;
  color: var(--theme) !important;
}

.feature label {
  color: var(--primary-color);
  position: relative;
  top: -0.7rem;
  margin-left: 0.5rem;
}

.feature > span {
  color: var(--secondary-color);
  display: block;
}

.section1 {
  border: 0px solid black;
  min-height: 100% !important;
  height: 100vh;
  width: 30%;
  margin: 0px;
  max-width: 30vw;
  float: left;
}
.section2 {
  border: 0px solid black;
  min-height: 100% !important;
  height: 100vh;
  width: 70%;
  margin-left: 0em;
  overflow: auto;
  float: right;
  max-width: 70vw;
}

.sticon {
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("/extras/icons/icontrans128.png");
  background-position: 50% 50%;
  background-size: 2.5rem 2.5rem;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
}
.navbar .titlebar {
  border-radius: 10px;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  height: 21px;
  width: 100px;
  border: none;
  background: #eeeeee;
  outline: none;
  text-align: center;
  float: left;
  margin-left: 1em;
  font-size: 1rem;
  font-weight: bold;
}
.theme {
  height: 2.5rem;
  width: 2.5rem;
  background: var(--theme-icon);
  background-color: none;
  border: none;
  background-size: 2rem 2rem;
  background-position: center center;
  cursor: pointer;
  float: right;
  margin-right: 4rem;
  background-repeat: no-repeat;
}
.navbar {
  display: block;
  position: fixed;
  background: var(--navbar-gradient);
  top: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 0.5em;
  z-index: 2;
  border: 0px solid black;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  margin: 0px;
  padding-left: 2rem;
}
.settings-title {
  font-size: 1.2rem;
  margin-left: 0.8rem;
  font-weight: 600;
  color: white;
  position: relative;
  top: 0.5rem;
}
.searchbar {
  border-radius: .35rem 0px 0px .35rem;
  padding: 0.5rem;
  height: 1.75rem;
  padding-left: 1rem;
  width: 12rem;
  border: none;
  background: var(--searchbar-bg);
  outline: none;
  vertical-align: middle;
  position: initial;
  margin-bottom: 2.75em;
  color: var(--primary-color);
  margin-bottom: 0px;
  margin-top: 4rem;
  margin-left: 2rem;
  position: relative;
  bottom: -1rem;
}

.searchbarbutton {
  border-radius: 0px var(--radius) var(--radius) 0px;
  padding: 12px;
  width: 2.75rem;
  height: 2.75rem;
  border: none;
  background: var(--searchbar-bg);
  outline: none;
  background-image: var(--searchbar-search);
  background-position: 47% 46%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  top: 4.175rem;
  position: relative;
  left: 0px;
}

.sectionwrap {
  padding: 2rem;
  padding-right: 2.5em;
}
.section1 .note {
  color: rgba(0, 0, 0, 0.8);
  padding: 2em;
  border-radius: 10px;
  margin-top: 1rem;
}
.section1 .note.yellow {
  background: rgba(252, 224, 79, 0.79);
}
.section1 .note.purple {
  background: rgba(134, 79, 252, 0.79);
}

.section1 .note.pink {
  background: #fc4fb7;
}

.section1 .note.orange {
  background: #fc8c4f;
}

.section1 .note.blue {
  background: #4fb1fc;
}
.section1 .note h3 {
  line-height: 10px;
}

/*Switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
  margin-bottom: 1rem;
  right: -1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--feature-slider-bg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: var(--theme);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

button.secondary-btn {
  background-color: var(--feature-input-bg) !important;
  color: var(--primary-color) !important;
}

.suggested-features {
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  padding: 3px;
  position: relative;
  left: -3px;
}

.feature-suggestion {
  background-color: var(--feature-bg);
  padding: 1rem;
  width: 20rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin-right: 1rem;
  outline: 3px solid #ff9f0000;
  transition: outline 0.2s;
  cursor: pointer;
  flex-shrink: 0;
}

.feature-suggestion:hover {
  outline: 2px solid var(--theme);
}

.feature-suggestion h3 {
  margin-top: 0px;
  margin-bottom: 0.25rem;
}

.feature-suggestion p {
  margin-top: 0px;
  opacity: 0.75;
  height: 3rem;
  overflow-y: hidden;
}

.feature-suggestion span {
  opacity: 0.75;
}

.sparkle {
  height: 2rem;
  opacity: .5;
  transition: opacity .2s;
  position: relative;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
}

.sparkle path {
  fill: var(--theme);
}

.sparkle:hover {
  opacity: 1;
  cursor: poiinter;
}

.tip {
  position: absolute;
  width: 15rem;
  padding: .5rem;
  border-radius: .25rem;
    font-size: .8rem;
    background-color: var(--searchbar-bg);
    color: var(--primary-color);
    font-weight: normal;
    z-index:99999;
    margin-top: -.5rem;
}

.buttons {
  display: inline-block;
  position: relative;
  top: 3.1rem;
}

.buttons button {
  background-color: var(--searchbar-bg);
  color: white;
  padding: .85rem;
  border-radius: .35rem;
  outline: 0px;
  border: 0px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  min-width: 7rem;
  margin-left: .5rem;
  opacity:1;
  transition: opacity .2s, background-color .2s, color .2s;
  color: var(--primary-color);
}

.buttons button:hover {
  opacity: .8;
}

.buttons button.selected {
  background-color: var(--theme);
  color: white;
}

body[data-filter="Editor"] .feature {
  display: none;
}

body[data-filter="Editor"] .feature[data-type*="Editor"] {
  display: inline-block;
}

body[data-filter="Website"] .feature {
  display: none;
}

body[data-filter="Website"] .feature[data-type*="Website"] {
  display: inline-block;
}

body[data-filter="Forums"] .feature {
  display: none;
}

body[data-filter="Forums"] .feature[data-type*="Forums"] {
  display: inline-block;
}

.end {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.campsite{
  width: 100%;
  height: 90px;
  background: var(--campsite);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.end span{
  color: var(--primary-color);
  opacity: 0.5;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}