.ste-cloud-disable {
    height: 14px;
    margin-left: .25rem;
    cursor: pointer;
    padding-top: 1px !important;
    position: relative;
    top: 1px;
}

.extension-chip .extension-action {
    display: inline-flex !important;
}